*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .container{
        max-width: 40rem;
        position: relative;
        #file-count{
            position: absolute;
            top: 5rem;
            right: 1rem;
            & span:last-child{
                font-weight: 900;
            }
        }
        #file-list{
            height: 20rem;
            background-color: #f2f2f2;
            border-radius: 0.4rem;
            ul{
                height: 100%;
                overflow-y: scroll;
                list-style: none;
                padding: 0.3rem;
                border-radius: 0.4rem;
                &::-webkit-scrollbar{
                    display: none;
                }
                li{
                    border: 1px solid black;
                    padding: 0.1rem 0.3rem;
                    margin: 0.3rem 0;
                    background-color: white;
                    border-radius: 0.4rem;
                    position: relative;
                    & a:first-child{
                        width: 90%;
                        color: black;
                        display: inline-block;
                        cursor: pointer;
                        text-decoration: none;
                    }
                    .delete{
                        color: black;
                        position: absolute;
                        width: 4%;
                        height: 100%;
                        display: inline-block;
                        top: 0;
                        right: 0px;
                        i{
                            position: absolute;
                            top: 0.1rem;
                            right: 0.4rem;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}